<h3>Demo2Bis</h3>

<p>Valeur envoyée par le composant appelant : @ValueFromParent</p>
<input type="number" @bind-value="Value" />
<button class="btn btn-outline-primary" @onclick="SendToPapa">Click ici</button>
@code {

}
